<form id="loginForm" class="p-4">
    <h2>Login to</h2>
    <h1>SimpleSPA</h1>
    <p class="text-center text-muted">(u:user, p:123456)</p>
    <div class="mb-3">
        <input type="text" name="username" class="form-control" placeholder="Username" required>
    </div>
    <div class="mb-3">
        <input type="password" name="password" class="form-control" placeholder="Password" required>
    </div>
    <button type="button" class="btn btn-primary" onclick="onClickLogin()">Login</button>
</form>