<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node SPA</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Node - Single Page Application</h1>
    <sidebar id="sidebar"></sidebar>
  </header>

  <main id="content"></main>

  <script src="/js/fetch_manager.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>