body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

#loginForm {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#loginForm h2,
#loginForm h1 {
  text-align: center;
}

#loginForm .form-control {
  margin-bottom: 10px;
}

#loginForm button {
  width: 100%;
}