.sidebar {
  height: 100vh;
  background-color: #343a40;
  padding-top: 1rem;
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 1rem;
}

.sidebar .logo img {
  max-width: 100%;
  height: auto;
}

.sidebar a {
  color: #ffffff;
  padding: 0.5rem 1rem;
  display: block;
}

.sidebar a:hover {
  background-color: #495057;
  color: #ffffff;
  text-decoration: none;
}

.topbar {
  background-color: #f8f9fa;
  padding: 1rem;
}

.topbar .avatar {
  cursor: pointer;
}

.topbar .dropdown-menu {
  right: 0;
  left: auto;
}

.content {
  padding: 0;
  /* Güncellenmiş padding */
  min-height: calc(100vh - 120px);
}

.footer {
  background-color: #f8f9fa;
  padding: 0.5rem;
  text-align: center;
  border-top: 1px solid #dee2e6;
}